<br />
<br />
<br />
<br />
<br />
<br />

<div class="flex justify-center gap-60 flex-wrap items-center">
  <div class="">
    <p class='mb-2'>The most convenient site</p>
    <p class='text-4xl font-semibold mb-2'>Find, Rent, Ride</p>
    <p class=''>Rent your favourite car in easy steps</p>
    <p class='my-2 bg-blue-500 px-5 mt-4 py-1.5 rounded-full w-fit text-white font-semibold'>Rent Now</p>
  </div>
  <div class="bg-sky-200 rounded-3xl">
    <img src="./images/car.png" alt="" class='h-80 w-[33rem]' />
  </div>
</div>


<br />
<br />
<br />
<br />


<div class="flex justify-center gap-20 flex-wrap items-center">
  <div class="bg-sky-200 rounded-3xl">
    <img src="./images/car.png" alt="" class='h-80 w-[33rem]' />
  </div>
  <div class="">
    <p class='mb-2'>Best Services</p>
    <p class='text-2xl font-semibold'>Feel the best experience
      with our
       rental deals</p>
      <br />
    <p class=''>Rent your favourite car in easy steps</p>
    <p class='my-2 bg-blue-500 px-5 py-1.5 rounded-full w-fit text-white font-semibold mt-4'>Explore our cars</p>
  </div>
</div>


<br />
<br />
<br />
<br />
