
<div class=" bg-slate-100 py-14 pb-20">
    <div class="text-center text-4xl font-semibold tracking-wide">
      <p>Our <span class='text-blue-500'>Services</span></p>
    </div>

    <div class="flex justify-center items-center gap-16 pt-20">
      <div class="h-52 border border-slate-500 shadow-md shadow-slate-300 rounded-3xl w-80 flex justify-between flex-col p-5 bg-white">
        <p class='text-2xl font-semibold'>Sports Car on Rent</p>
        <p class='py-4'>Rent a best sports car for us</p>
        <a href="" class='px-6 py-2 rounded-full bg-amber-400 w-fit tracking-wide font-semibold'>Explore Cars</a>
      </div>

      <div class="h-52 border border-slate-500 shadow-md shadow-slate-300 rounded-3xl w-80 flex justify-between flex-col p-5 bg-white">
        <p class='text-2xl font-semibold'>Sports Car on Rent</p>
        <p class='py-4'>Rent a best sports car for us</p>
        <a href="" class='px-6 py-2 rounded-full bg-amber-400 w-fit tracking-wide font-semibold'>Explore Cars</a>
      </div>

      <div class="h-52 border border-slate-500 shadow-md shadow-slate-300 rounded-3xl w-80 flex justify-between flex-col p-5 bg-white">
        <p class='text-2xl font-semibold'>Sports Car on Rent</p>
        <p class='py-4'>Rent a best sports car for us</p>
        <a href="" class='px-6 py-2 rounded-full bg-amber-400 w-fit tracking-wide font-semibold'>Explore Cars</a>
      </div>

    </div>
  </div>
